*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Open Sans', sans-serif;
}

header{
    background: linear-gradient(to left, #f8cdda, #1d2b64);
    height: auto;
    padding: 48px;
    width: 100%;
}

.conteiner{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.img{
    display: block;
    height: 450px;
    width: 250;
    object-fit: cover;
}

.text{
    width: 50%;
    color: white;
    
}

.text h1{
    font-size: 100px;
    padding-bottom: 10px;
}

.text h2{
    font-size: 23px;
}

.text a{
    display: inline-block;
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid white;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
}

.wabe {
    height: 100px;
    width: 100%;
    background: linear-gradient(to left,#f8cdda,#1d2b64);
}
